@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #08AEEA;

    font-family: Poppins, Arial, Helvetica, sans-serif;
}

header{
    padding: 4vh;
}

h1, th, #imgWeather, #next-days, td{
    text-align: center;
}

h1{
    font-weight: 800;
    letter-spacing: .02em;
    font-size: 2.5em;
    color: white;
}

#imgWeather{
    width: 45%;
}

#next-days{
    background-color: rgba(255, 255, 255, 0.9);
    color: #075a79;
    font-weight: 600;
    letter-spacing: .04em;
    border-top: 1px dotted rgba(0, 0, 0, 0.15);
    border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
    padding : 1.5vh 0;
}

.img-next-weather{
    width: 75%;
}

section{
    width: 75%;
    margin: 2vh auto;
}

table{
    width: 100%;
    table-layout: fixed;
    border-width: .1em .1em 0 0;
    border-style: solid;
    border-color: #ddd;
    padding: .5em;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    -moz-backdrop-filter : blur(4px);
    -webkit-backdrop-filter: blur(4px);
    -o-backdrop-filter: blur(4px);
}

#main-table{
    border-radius: .5em .5em 0 0;
}

#daily-forecast{
    box-shadow: -.1em .5em .9em rgba(0, 0, 0, 0.3);
}


#name-app{
    text-transform: capitalize;
    padding: 3vh 0;
    font-size: 2em;
    font-weight: bolder;
    color: #075a79;
}

td{
    font-size: 1em;
}

.day{
    font-weight: 800;
}

@media (min-width: 831px){
    section{
        width: 50%;
    }

    td{
        font-size: 1.2em;
    }

}

