@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

header{
    padding: 4vh;
}

h1, th, #imgWeather, #next-days, td{
    text-align: center;
}

h1{
    font-weight: 800;
    letter-spacing: .02em;
    font-size: 2.5em;
    color: white;
    text-shadow: .1em .1em .2em rgba(0, 0, 0, 0.8);
}

#video-bg{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#imgWeather{
    width: 45%;
}

#descWeather::first-letter{
    text-transform: capitalize;
}

#next-days{
    background-color: rgba(255, 255, 255, 0.9);
    color: #075a79;
    font-weight: 600;
    letter-spacing: .04em;
    border-top: 1px dotted rgba(0, 0, 0, 0.15);
    border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
    padding : 1.5vh 0;
}

.img-next-weather{
    width: 75%;
}

section{
    width: 60%;
    margin: 2vh auto;
}

table{
    width: 100%;
    table-layout: fixed;
    border-width: .1em .1em 0 0;
    border-style: solid;
    border-color: #ddd;
    padding: .5em;
    background-color: rgba(233, 232, 232, 0.5);
    backdrop-filter: blur(4px);
    -moz-backdrop-filter : blur(4px);
    -webkit-backdrop-filter: blur(4px);
    -o-backdrop-filter: blur(4px);
}

#main-table{
    border-radius: .5em .5em 0 0;
}

#daily-forecast{
    border-radius: 0 0 .5em .5em;
    box-shadow: -.1em .5em .9em rgba(0, 0, 0, 0.3);
}

#name-app{
    text-transform: capitalize;
    padding: 3vh 0;
    font-size: 2em;
    font-weight: bolder;
    color: #075a79;
}

td{
    font-size: 1em;
}

.day{
    font-weight: 800;
}

.error-section{
    width: 80%;
    padding: 2vh 2vw;
    margin: auto;
    color: #075a79;
    background-color: rgba(233, 232, 232, 0.5);
    border-radius: .5em;
}

/* Loading icon */
#loader{
    position: absolute;
    width: 60%;
    height: 80%;
    margin: auto;
    background-color: rgba(72, 113, 226, 0.9);
    transition: opacity 1.5s ease-out;
    z-index: 2;
}

#loader img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden{
    /* opacity: 0; */
    display: none;
}

@media only screen and (max-width: 700px) {

    #loader{
        width: 65%;
    }

    #loader img{
        top: 30%;
    }

    h1{
        font-size: 1.9em;
    }
    section{
        width: 65%;
    }

    #descWeather{
        text-align: left;
    }

    td{
        font-size: 1.1em;
    }

    .table-responsive table, 
    .table-responsive thead, 
    .table-responsive tbody, 
    .table-responsive tr, 
    .table-responsive th, 
    .table-responsive td {
        display: block;
    }

    .table-responsive thead {
        position: absolute;
		top: -9999px;
		left: -9999px;
    }

    .table-responsive td {
        padding-left: 150px;
        position: relative;
        margin-top: -1px;
        background: rgba(255, 255, 255, 0.418);
    }

    .table-responsive td:nth-child(odd) {
        background-color: rgba(238, 238, 238, 0.4);
    }

    .table-responsive td::before {
        padding: 10px;
        content: attr(data-label);
        position: absolute;
        top: 0;
        left: 0;
        width: 130px;
        bottom: 0;
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .table-responsive tr {
        margin-bottom: 1rem;
    }
    
    .table-responsive th + td {
        padding-left: 10px;
    }
    
    #daily-forecast td::before{
        font-size: 1.5em;
    }
    .img-next-weather{
        width: 50%;
    }

    .temperatureDay{
        font-weight: 600;
    }

}

@media (max-width: 380px){

    #loader{
        width: 90%;
    }

    #loader img{
        top: 35%;
    }

    h1{
        font-size: 1.5em;
    }

    section{
        width: 90%;
    }

    td{
        font-size: 1em;
    }

    #descWeather{
        font-size: 0.9em;
    } 

    .img-next-weather{
        width: 100%;
    }

}